{% extends "material/base.html" %} {% block content %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
<main>
  <header>
    <nav>
      <div class="nav-wrapper black logo-container">
        <img src = "/static/imgs/betBCA_logo.png" width = 500px height = 280px >
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="card grey black">
      <div class="card-content">
        </br>
        <span class="card-title center-align" style="color: white; font-weight: bold; font-size: 18px;">Input The Following Info! </span>
        <form method="POST" action="/submit_pw_change">
          <div class="input-field">
            <input
              class="white-text"
              id="username3"
              name="username3"
              type="text"
              class="validate"
              required
            />
            <label for="username">Username</label>
          </div>
          <div class="input-field">
            <input
              class="white-text"
              id="sec_question2"
              name="sec_question2"
              type="text"
              class="validate"
              required
            />
            <label for="sec_question"> Security Question: What city were you born in? </label>
          </div>
          <div class="input-field">
            <input
              class="white-text"
              id="new_pw"
              name="new_pw"
              type="text"
              class="validate"
              required
            />
            <label for="new_pw"> New Password </label>
          </div>
          <div class="center-align">
            <button type="submit" class="btn waves-effect waves-light">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="news-banner-container">
    <div class="news-banner">
      <div class="news-item">🔔 Breaking News: betBCA Launches!</div>
      <div class="news-item">🎉 Biggest Jackpot Won!</div>
      <div class="news-item">💰 Special Bonus: 50% Cashback!</div>
      <div class="news-item">🎈 Exciting Events This Weekend!</div>
    </div>
  </div>
</main>


{% endblock %} {% block scripts %} {{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/script.js"></script>

{% endblock %}
